/* line 1, ../../sass/padding/padding.scss */
.ngp-padding-small {
  padding: 4px 8px !important;
}

/* line 1, ../../sass/padding/padding.scss */
.ngp-padding {
  padding: 8px 16px !important;
}

/* line 1, ../../sass/padding/padding.scss */
.ngp-padding-large {
  padding: 12px 24px !important;
}

/* line 2, ../../sass/padding/padding.scss */
.ngp-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

/* line 2, ../../sass/padding/padding.scss */
.ngp-padding-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

/* line 3, ../../sass/padding/padding.scss */
.ngp-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

/* line 3, ../../sass/padding/padding.scss */
.ngp-padding-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

/* line 4, ../../sass/padding/padding.scss */
.ngp-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}
