/* greens */
.ngp-green,.ngp-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.ngp-light-green,.ngp-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.ngp-pale-green,.ngp-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.ngp-lime,.ngp-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.ngp-olive,.ngp-hover-olive:hover{color:#fff!important;background-color:#6b8e23!important}
.ngp-darksea-green,.ngp-hover-darksea-green:hover{color:#fff!important;background-color:#8fbc8f!important}
.ngp-dark-green,.ngp-hover-dark-green:hover{color:#fff!important;background-color:#006800!important}
.ngp-teal,.ngp-hover-teal:hover{color:#fff!important;background-color:#009688!important}

/* purples */
.ngp-purple,.ngp-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.ngp-deep-purple,.ngp-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.ngp-dark-stateblue,.ngp-hover-dark-stateblue:hover{color:#fff!important;background-color:#483d8b!important}
.ngp-orchid,.ngp-hover-orchid:hover{color:#fff!important;background-color:#ba55d3!important}
.ngp-indigo,.ngp-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}

/* blues */
.ngp-aqua,.ngp-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.ngp-blue,.ngp-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.ngp-light-blue,.ngp-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.ngp-pale-blue,.ngp-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}

/* pinks */
.ngp-pink,.ngp-hover-pink:hover{color:#000!important;background-color:#ffc0cb!important}
.ngp-hotpink,.ngp-hover-hotpink:hover{color:#fff!important;background-color:#db7093!important}
.ngp-deeppink,.ngp-hover-deeppink:hover{color:#fff!important;background-color:#c71585!important}

/* reds */
.ngp-red,.ngp-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.ngp-dark-red,.ngp-hover-dark-red:hover{color:#fff!important;background-color:#8b0000!important}
.ngp-fire-brick,.ngp-hover-fire-brick:hover{color:#fff!important;background-color:#b22222!important}
.ngp-pale-red,.ngp-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}

/* oranges */
.ngp-orange,.ngp-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.ngp-deep-orange,.ngp-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.ngp-coral,.ngp-hover-coral:hover{color:#fff!important;background-color:#ff7f50!important}
.ngp-tomato,.ngp-hover-tomato:hover{color:#fff!important;background-color:#ff6347!important}

/* yellows */
.ngp-yellow,.ngp-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.ngp-pale-yellow,.ngp-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.ngp-sand,.ngp-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.ngp-amber,.ngp-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.ngp-khaki,.ngp-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}

/* cyans */
.ngp-cyan,.ngp-hover-cyan:hover{color:#fff!important;background-color:#00bcd4!important}
.ngp-royalblue,.ngp-hover-royalblue:hover{color:#fff!important;background-color:#4169e1!important}
.ngp-navy,.ngp-hover-navy:hover{color:#fff!important;background-color:#000080!important}

/* greys */
.ngp-grey,.ngp-hover-grey:hover,.ngp-gray,.ngp-hover-gray:hover{color:#000!important;background-color:#bbb!important}
.ngp-light-grey,.ngp-hover-light-grey:hover,.ngp-light-gray,.ngp-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.ngp-dark-grey,.ngp-hover-dark-grey:hover,.ngp-dark-gray,.ngp-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.ngp-blue-grey,.ngp-hover-blue-grey:hover,.ngp-blue-gray,.ngp-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.ngp-state-grey,.ngp-hover-state-grey:hover{color:#fff!important;background-color:#608090!important}
.ngp-dark-state-grey,.ngp-hover-dark-state-grey:hover{color:#fff!important;background-color:#2f4f4f!important}

/* browns */
.ngp-brown,.ngp-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.ngp-peru,.ngp-hover-peru:hover{color:#fff!important;background-color:#cd853f!important}
.ngp-burlywood,.ngp-hover-burlywood:hover{color:#000!important;background-color:#deb887!important}


.ngp-white,.ngp-hover-white:hover{color:#000!important;background-color:#fff!important}
.ngp-black,.ngp-hover-black:hover{color:#fff!important;background-color:#000!important}




